.menuimg{
  width:100px;
  height:inherit;
  float:left;
}
.menu li{
  display: inline-block;
  float:inherit;
}
.menuimg2{
  width:100px;
  height:inherit;
  float:left;
}
.menu {
  white-space:nowrap;
  text-align: center;
}
.menu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  white-space:nowrap;
  border: #e8e6e6 3px solid;
  background-color: #333;
}
.menu a:hover {
  background-color: #111;
}
body{
  width:100%;
  background-repeat: no-repeat;
  float:center;
  background-size: cover;
  margin-top: -20px;
  background-image: url('/recursos/fondoclasicos.png');
  background-attachment: fixed;
}
table.center {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    display: inline-block;
    text-align: center;
  }
th{
  padding:15px;
  text-align: left;
  font-family:"arial";
}
.contenedor{
    position: relative;
    display: inline-block;
    color:white;
    letter-spacing: 1px;
}
.contenedor2{
    position: relative;
    display: inline-block;
    color:white;
}
.contacto{
  top: 73%;
  left: 50%;

}
.puntuacion {
  text-align:center;
  font-size: 50px;
  font-style:italic;
  -webkit-text-stroke: 2px white;
  color: black;
}
.centrado{
  border-spacing: 25px;
    width: 620px;
    height: 250px;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #333 ;
    border:2px solid white;
    border-radius: 2px ;


}
.contacto{
  font-size: 50px;
  color: white;
  text-align:center;


}
.enviar{
  text-align:center;
  background-color: white;
  width: 30%;
  height: 170%;
  font-weight: bolder;
  font-size: 100%;
	margin-left: 30px;
  margin: auto;
  display:block;



}
.enviar:hover{
  text-align:center;
  background-color: black;
  width: 30%;
  height: 170%;
  font-weight: bolder;
  font-size: 100%;
	margin-left: 30px;
  margin: auto;
  display:block;
  color:white;



}


.pers{
  background-color: white;
  width: 90%;
  height: 150%;

  font-size: 100%;
	margin-left: 30px;

}
.pers2{

  background-color: white;
  width: 90%;
  padding-bottom: 180px;

  font-size: 100%;
	margin-left: 30px;


}

.centrado2{
    width: 50%;
    height: 50px;
    position: absolute;
    top:15px;
    left: 38px;
    transform: translate(-50%, -50%);
    margin: 5px;
}
.centrado a{
  font-family:"arial";
  text-decoration: none;
  color:white;
  font-size: 80%;
}
.centrado2 a{
  font-family:"arial";
  text-decoration: none;
  color:white;
  overflow: hidden;
  white-space: nowrap;
}
.fringe{
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    top:110px;
    left: 0px;
    right: 0px;
    height: 26px;
    background: #000000;
    opacity: 0.8;
    padding: 0px 0px 0px 0px;
}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 80px;
}
.main-header {
	background: #0d0d0d;
	color: white;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}
.main-header a {
		color: white;
	}
header{
  position: fixed;
  background-color: #ffff00;
  height: 100px;
  z-index: 999;
}
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: #7F0C0C;
	}

.logo{
	margin-top: -62px;
	margin-left: 44%;
}
