@media (max-width:850px) {
  .body td{
    border: 3px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
    background-color: #1a1a1a;
    color:white;
  }
  img{
    width: 50px;
    padding-bottom: 10px;
  }
  .body td:hover{
    background-color: #7F0C0C;
    border: 2px solid black;
  }
  .body table{
      margin:auto;
      border-spacing: 20px;
  }
  html{
    background-image: url('/recursos/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .body {
  	margin: 0;
  	padding: 0;
  	font-family: Helvetica, Arial, sans-serif;
  	color: #666;
    background-image: url("/recursos/image.jpg");
    background-repeat: no-repeat;
    float:center;
    background-size: cover;
  	font-size: 1em;
  	line-height: 1.5em;
  	padding-top: 40px;

  }
  .main-header {
  	background: #0d0d0d;
  	color: white;
  	height: 40px;
  	width: 50%;
  	left: 0;
  	top: 0;
  	position: fixed;
  }
.main-header a {
    color: white;
  	}
header{
    position: fixed;
    background-color: #0d0d0d;
    height: 50px;
    z-index: 999;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 10px;
 }
nav ul li {
    display: inline-block;
    line-height: 40px;
}
nav ul li a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #7F0C0C;
}

.logo{
    margin-top: -62px;
    margin-left: 44%;
    width: 100px;
}

.header-top{
    width: 40%;
    background: #0d0d0d;

}
nav{
    display:none;
}

.navegacion{
    display: none;
}
input[type="search"]{
    padding: 5px;
    padding-right: 17px;
    border: none;
}
.search{
    width: 45%;
    max-width: 500px;
    background: #0d0d0d;
    padding:0 5px;
    padding-bottom: 2px;
    max-height: 50%;
    overflow-x: hidden;
    display: none;
}
.search-table{
    width: 50%;
}
.tbody{
    width:50%;
}
.tbody a{
    text-decoration: none;
    font-size: 9px;
}
.tbody td{
    border: 1px solid  #0d0d0d ;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    background-color: #0d0d0d;

}
.tbody td:hover{
    background-color: #7F0C0C;
    border: 1px solid white;
}
.search::-webkit-scrollbar{
    background:rgba(0,0,0,0);
}
.search::-webkit-scrollbar-button{
    background:#C1C1C1;
}
.thead td{
    border: 0.1px solid #0d0d0d;
    width:50px;
    height:50px;
    text-align: center;
    background-color:#0d0d0d;
    color:white;
}
.thead td:hover{
    background-color:#0d0d0d;
    border: 0.1px solid #0d0d0d;
}
.search::-webkit-scrollbar-thumb{
    background:#C1C1C1;
}
thead{
    display: none;
}
  tbody{

  }

  .dataTables_length,
  .dataTables_filter,
  .dataTables_info,
  .dataTables_paginate {
  	display: none;
  }
}
@media (min-width:500px) {
  .body td{
    border: 5px solid black;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-top: 80px;
    text-align: center;
    background-color: #1a1a1a;
    color:white;
  }
  img{
    width: 100px;
    padding-bottom: 20px;
  }
  .body td:hover{
    background-color: #7F0C0C;
    border: 5px solid black;
  }
  .body table{
      margin:auto;
      border-spacing: 40px;
  }
  html{
    background-image: url('/recursos/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body {
  	margin: 0;
  	padding: 0;
  	font-family: Helvetica, Arial, sans-serif;
  	color: #666;
    background-image: url("recursos/image.jpg");
    background-repeat: no-repeat;
    float:center;
    background-size: cover;
  	font-size: 1em;
  	line-height: 1.5em;
  	padding-top: 80px;

  }
  .main-header {
  	background: #0d0d0d;
  	color: white;
  	height: 80px;
  	width: 100%;
  	left: 0;
  	top: 0;
  	position: fixed;
  }
  .main-header a {
  		color: white;
  	}
  header{
    position: fixed;
    background-color: #0d0d0d;
    height: 100px;
    z-index: 999;
  }
  nav {
  	float: right;
  }
  nav ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
  	padding-right: 20px;
  }
  nav ul li {
  	display: inline-block;
  	line-height: 80px;
  }
  nav ul li a {
  	display: block;
  	padding: 0 10px;
  	text-decoration: none;
  }
  nav ul li a:hover {
  	background: #7F0C0C;
  	}
  .logo{
  	margin-top: -62px;
  	margin-left: 44%;
    width: 200px;
  }
  header{
  	width: 100%;
  	position: fixed;
  }
  .header-top{
  	width: 100%;
  	background: #0d0d0d

  }
  .navegacion{
  	width: 90%;
  	margin-left: 40px;
    margin-top: -120px;
  }
  input[type="search"]{
  	padding: 10px;
  	padding-right: 35px;
  	border: none;
  }
  .search{
  	width: 90%;
  	max-width: 1000px;
  	background: #0d0d0d;
  	padding:0 10px;
  	padding-bottom: 5px;
  	max-height: 100%;
  	overflow-x: hidden;
  	display: none;
  }
  .search-table{
  	width: 100%;
  }
  .tbody a{
    text-decoration: none;
    font-size: 18px;
  }
  .tbody td{
    border: 1px solid  #0d0d0d ;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    background-color: #0d0d0d;

  }
  .tbody td:hover{
    background-color: #7F0C0C;
    border: 1px solid white;
  }
  .search::-webkit-scrollbar{
  	background:rgba(0,0,0,0);
  }
  .search::-webkit-scrollbar-button{
   	background:#C1C1C1;
  }
  .thead td{
    border: 0.1px solid #0d0d0d;
    width:100px;
    height:100px;
    text-align: center;
    background-color:#0d0d0d;
    color:white;

  }
  .thead td:hover{
    background-color:#0d0d0d;
    border: 0.1px solid #0d0d0d;
  }

  .search::-webkit-scrollbar-thumb{
  	background:#C1C1C1;
  }
  thead{
    display: none;

  }
  tbody{

  }
  .dataTables_length,
  .dataTables_filter,
  .dataTables_info,
  .dataTables_paginate {
  	display: none;
  }
}
