<!DOCTYPE html>
<html lang ="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/categoria.css">
  <script src="{{ site.baseurl }}/buscador/js/jquery.js"></script>
	<script src="{{ site.baseurl }}/buscador/js/jquery.dataTables.min.js"></script>
</head>
<div class="cabecera">
<header class="main-header">

  <div class="header-top">
    <a class="logo-header" href="#">
  		<span><a href="{{ site.baseurl }}/pages/temas.html"><img class="logo" src="{{ site.baseurl }}/recursos/logo.png"></span>
  	</a>
  	<nav>
  		<ul>
  			<li><a href="{{ site.baseurl }}/index.html">Inicio</a></li>
			<li><a href="{{ site.baseurl }}/pages/acercade.html">Acerca de</a></li>
			<li><a href="{{ site.baseurl }}/pages/contacto.html">Contacto</a></li>
  		</ul>
  	</nav>
    <div class="navegacion">
      <input type="search" placeholder="Buscar . . ." id="inputBusqueda">
    </div>

  </div>
  <div class="search" id="search">
    <table class="search-table" id="searchTable">
      <thead class="thead">
        <tr>
          <td ></td>
        </tr>
      </thead>
      <tbody class="tbody" >
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/viento.html">Lo que el viento se llevó</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/elpadrino.html">El Padrino</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/casablanca.html">Casablanca</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/psicosis.html">Psicosis</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/confaldasyaloloco.html">Con faldas y a lo loco</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/elgrandictador.html">El gran dictador</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/clubdelalucha.html">Club de la lucha</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/rocky.html">Rocky</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/malditosbastardos.html">Malditos bastardos</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/matrix.html">Matrix</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/killbill.html">Kill Bill</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/regresoalfuturo.html">Regreso al futuro</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/lanaranjamecanica.html">La naranja mecánica</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/avatar.html">Avatar</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/terminator.html">Terminator</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/losvengadores.html">Los Vengadores</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/lamuertedestalin.html">La muerte de stalin</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/lavidadebrian.html">La vida de brian</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/ted.html">Ted</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/scarymovie.html">Scary movie</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/niñosgrandes.html">Niños grandes</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/titanic.html">Titanic</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/prettywoman.html">Pretty Woman</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/elcuadernodenoah.html">El cuaderno de Noah</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/bajolamismaestrella.html">Bajo la misma estrella</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/orgullayprejuicio.html">Orgullo y prejuicio</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/hallowen.html">Halloween</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/elsecretodemarrowon.html">El secreto de marrowon</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/expedientewarren.html">Expediente Warren</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/saw.html">Saw</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/insidious.html">Insidious</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/elsenordelosanillos.html">El Señor de los anillos</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/harrypotter.html">Harry Potter</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/elhobbit.html">El hobbit</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/lascronicasdenarnia.html">Las Crónicas de Narnia</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/labrujuladorada.html">La brújula dorada</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/shrek.html">Shrek</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/elviajedechihiro.html">El viaje de chihiro</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/monstruossa.html">Monstruos, S. A.</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/koenokatachi.html">Koe no Katachi</a></td>
        </tr>
        <tr >
          <td><a href="{{ site.baseurl }}/pages/pelis/toystory.html">Toy Story</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</header>
</div>
<body>
<div class="cartelera">
<table class="center">
<tr>
    <th>
      <div class="contenedor">
      <img src="{{ page.img1 }}"/>
      <div class="fringe">
        <div class="centrado"><a href="{{ page.url1 }}">{{ page.nom1 }}</a></div>
      </div>
      </div>
    </th>
    <th>
      <div class="contenedor">
      <img src="{{ page.img2 }}"/>
      <div class="fringe">
        <div class="centrado"><a href="{{ page.url2 }}">{{ page.nom2 }}</a></div>
      </div>
      </div>
    </th>
    <th>
      <div class="contenedor">
      <img src="{{ page.img3 }}"/>
      <div class="fringe">
        <div class="centrado"><a href="{{ page.url3 }}">{{ page.nom3 }}</a></div>
      </div>
      </div>
    </th>
</tr>
<tr>
  <th>
    <div class="contenedor">
    <img src="{{ page.img4 }}"/>
    <div class="fringe">
      <div class="centrado"><a href="{{ page.url4 }}">{{ page.nom4 }}</a></div>
    </div>
    </div>
  </th>
  <th>
    <div class="contenedor">
    <img src="{{ page.img5 }}"/>
    <div class="fringe">
      <div class="centrado"><a href="{{ page.url5 }}">{{ page.nom5 }}</a></div>
    </div>
    </div>
  </th>
  <th>
    <div class="contenedor">
    <img src="{{ page.img6 }}"/>
    <div class="fringe">
      <div class="centrado"><a href="{{ page.url6 }}">{{ page.nom6 }}</a></div>
    </div>
    </div>
  </th>
</tr>
<tr>
  <th>
    <div class="contenedor">
    <img src="{{ page.img7 }}"/>
    <div class="fringe">
      <div class="centrado"><a href="{{ page.url7 }}">{{ page.nom7 }}</a></div>
    </div>
    </div>
  </th>
  <th>
    <div class="contenedor">
    <img src="{{ page.img8 }}"/>
    <div class="fringe">
      <div class="centrado"><a href="{{ page.url8 }}">{{ page.nom8 }}</a></div>
    </div>
    </div>
  </th>
  <th>
    <div class="contenedor">
    <img src="{{ page.img9 }}"/>
    <div class="fringe">
      <div class="centrado"><a href="{{ page.url9 }}">{{ page.nom9 }}</a></div>
    </div>
    </div>
  </th>
</tr>
</table>
</div>
</body>
<script src="{{ site.baseurl }}/buscador/js/buscador.js"></script>
</html>
