<!DOCTYPE html>
<html lang ="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/peli.css">
</head>
<body>
	<div class="cabecera">
		<header class="main-header">
			<a class="logo-header" href="#">
				<span><a href="{{ site.baseurl }}/pages/temas.html"><img class="logo" src="{{ site.baseurl }}/recursos/logo.png"></span>
			</a>
			<nav>
				<ul>
					<li><a href="{{ site.baseurl }}/index.html">Inicio</a></li>
			                <li><a href="{{ site.baseurl }}/pages/acercade.html">Acerca de</a></li>
			                <li><a href="{{ site.baseurl }}/pages/contacto.html">Contacto</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div class="cartelera">
		<table class="centrado">
			<tr >
				<th>
					<div class="contenedor">
						<h1>{{ page.titulo }}</h1>
						<h3>SINOPSIS</h3>
						<p>{{ page.sinopsis }}<p>
					</div>
				</th>
				<th>
					<div class="contenedor">
						<img src="/infinityFilm/{{ page.imagenpeli }}"/>
					</div>
				</th>
			</tr>
			<tr>
				<th>
					<iframe width="560" height="315" src="{{ page.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</th>
				<th>
					<div class="contenedor2">
						<h3>CARACTERÍSTICAS</h3>
						<p>País: {{ page.pais }}</p>
						<p>Año: {{ page.anyo }}</p>
						<p>Gènero: {{ page.genero }}</p>
						<p>Duración: {{ page.duracion }}</p>
						<p>Idioma original: {{ page.vose }}</p>
						<p>Recaudación: {{ page.recaudacion }}​</p>

					</div>
				</th>
			</tr>
			<tr>
				<th>
					<div class="contenedor2">
						<h3>ACTORES PRINCIPALES</h3>
						<div class="contenedor">
							<img src="/infinityFilm/{{ page.img1 }}" width="135" height="135" align="center" />
							<div class="fringe">
								<div class="centrado2"><a>{{ page.actor1 }}</a></div>
							</div>
						</div>
						<div class="contenedor">
							<img src="/infinityFilm/{{ page.img2 }}" width="135" height="135" align="center" />
							<div class="fringe">
								<div class="centrado2"><a>{{ page.actor2 }}</a></div>
							</div>
						</div>
						<div class="contenedor">
							<img src="/infinityFilm/{{ page.img3 }}" width="135" height="135" align="center" />
							<div class="fringe">
								<div class="centrado2"><a>{{ page.actor3 }}</a></div>
							</div>
						</div>
						<div class="contenedor">
							<img src="/infinityFilm/{{ page.img4 }}" width="135" height="135" align="center" />
							<div class="fringe">
								<div class="centrado2"><a>{{ page.actor4 }}</a></div>
							</div>
						</div>
					</div>
				</th>
			
			</tr>
		</table>
	</div>
</body>
</html>
